In [30]:
import pandas as pd
import numpy as np

### First Step
Create Data Frame from DC Properties CSV data file.

In [46]:
location = "DC_Properties.csv"
df = pd.read_csv(location, 
                 usecols=["SALEDATE", "PRICE", "WARD", "CENSUS_BLOCK", "FULLADDRESS"])
df
df.dtypes 
df.head(1000)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (33,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SALEDATE,PRICE,FULLADDRESS,CENSUS_BLOCK,WARD
0,2003-11-25 00:00:00,1095000.0,1748 SWANN STREET NW,004201 2006,Ward 2
1,2000-08-17 00:00:00,NaN,1746 SWANN STREET NW,004201 2006,Ward 2
2,2016-06-21 00:00:00,2100000.0,1744 SWANN STREET NW,004201 2006,Ward 2
3,2006-07-12 00:00:00,1602000.0,1742 SWANN STREET NW,004201 2006,Ward 2
4,NaN,NaN,1804 NEW HAMPSHIRE AVENUE NW,004201 2006,Ward 2
5,2010-02-26 00:00:00,1950000.0,1709 S STREET NW,004201 2006,Ward 2
6,2011-05-02 00:00:00,NaN,1769 SWANN STREET NW,004201 2005,Ward 2
7,2011-09-29 00:00:00,1050000.0,1746 1/2 T STREET NW,004201 2005,Ward 2
8,2018-05-03 00:00:00,1430000.0,1727 SWANN STREET NW,004201 2005,Ward 2
9,2008-12-05 00:00:00,NaN,1733 SWANN STREET NW,004201 2005,Ward 2
10,NaN,NaN,1755 SWANN STREET NW,004201 2005,Ward 2
11,2009-03-12 00:00:00,NaN,1734 T STREET NW,004201 2005,Ward 2
12,NaN,NaN,1717 SWANN STREET NW,004201 2005,Ward 2
13,NaN,NaN,1719 1/2 SWANN STREET NW,004201 2005,Ward 2
14,2011-09-30 00:00:00,1325000.0,1721 SWANN STREET NW,004201 2005,Ward 2
15,NaN,NaN,1723 SWANN STREET NW,004201 2005,Ward 2
16,2010-11-04 00:00:00,1240000.0,1725 SWANN STREET NW,004201 2005,Ward 2
17,2008-05-08 00:00:00,NaN,1729 SWANN STREET NW,004201 2005,Ward 2
18,2016-08-18 00:00:00,NaN,1731 SWANN STREET NW,004201 2005,Ward 2
19,2001-07-23 00:00:00,592250.0,1735 SWANN STREET NW,004201 2005,Ward 2
20,2016-01-12 00:00:00,33232.0,1441 Q STREET NW,005201 4003,Ward 2
21,2014-04-30 00:00:00,NaN,1443 Q STREET NW,005201 4003,Ward 2
22,2006-01-09 00:00:00,907400.0,1445 Q STREET NW,005201 4003,Ward 2
23,2012-08-21 00:00:00,1065000.0,1447 Q STREET NW,005201 4003,Ward 2
24,2012-07-25 00:00:00,1100000.0,1449 Q STREET NW,005201 4003,Ward 2
25,1996-04-02 00:00:00,20000.0,1451 Q STREET NW,005201 4003,Ward 2
26,NaN,NaN,1458 CORCORAN STREET NW,005201 4003,Ward 2
27,2005-04-06 00:00:00,703700.0,1456 CORCORAN STREET NW,005201 4003,Ward 2
28,2015-02-06 00:00:00,NaN,1454 CORCORAN STREET NW,005201 4003,Ward 2
29,2013-12-11 00:00:00,1210000.0,1452 CORCORAN STREET NW,005201 4003,Ward 2
...,...,...,...,...,...
970,2007-03-08 00:00:00,1080000.0,2124 O STREET NW,005500 4001,Ward 2
971,2010-01-14 00:00:00,NaN,2138 O STREET NW,005500 4001,Ward 2
972,2014-04-11 00:00:00,280745.0,2136 O STREET NW,005500 4001,Ward 2
973,2016-10-27 00:00:00,NaN,2134 O STREET NW,005500 4001,Ward 2
974,2009-06-05 00:00:00,NaN,2132 O STREET NW,005500 4001,Ward 2
975,2013-03-22 00:00:00,1387000.0,2130 O STREET NW,005500 4001,Ward 2
976,2015-12-09 00:00:00,NaN,2128 O STREET NW,005500 4001,Ward 2
977,2016-02-19 00:00:00,1120160.0,1331 22ND STREET NW,005500 4001,Ward 2
978,2003-09-22 00:00:00,785000.0,2111 N STREET NW,005500 4002,Ward 2
979,NaN,NaN,2134 NEWPORT PLACE NW,005500 4002,Ward 2
980,2006-12-22 00:00:00,NaN,2153 NEWPORT PLACE NW,005500 4001,Ward 2
981,NaN,NaN,2145 NEWPORT PLACE NW,005500 4001,Ward 2
982,2016-02-25 00:00:00,NaN,1335 22ND STREET NW,005500 4001,Ward 2
983,2005-01-14 00:00:00,725000.0,2117 NEWPORT PLACE NW,005500 4001,Ward 2
984,NaN,NaN,2115 NEWPORT PLACE NW,005500 4001,Ward 2
985,2015-07-15 00:00:00,1050000.0,2132 NEWPORT PLACE NW,005500 4002,Ward 2
986,2008-05-15 00:00:00,NaN,2130 NEWPORT PLACE NW,005500 4002,Ward 2
987,2011-08-04 00:00:00,NaN,2128 NEWPORT PLACE NW,005500 4002,Ward 2
988,2010-12-02 00:00:00,499000.0,2151 NEWPORT PLACE NW,005500 4001,Ward 2
989,NaN,NaN,2149 NEWPORT PLACE NW,005500 4001,Ward 2
990,2017-09-12 00:00:00,NaN,2147 NEWPORT PLACE NW,005500 4001,Ward 2
991,NaN,NaN,1333 22ND STREET NW,005500 4001,Ward 2
992,2012-08-20 00:00:00,850000.0,2120 NEWPORT PLACE NW,005500 4002,Ward 2
993,2017-04-21 00:00:00,1037250.0,2128 N STREET NW,005500 3001,Ward 2
994,NaN,NaN,1719 6TH STREET NW,004801 1007,Ward 6
995,NaN,NaN,1721 6TH STREET NW,004801 1007,Ward 6
996,2006-11-21 00:00:00,575000.0,1707 6TH STREET NW,004801 1007,Ward 6
997,2014-06-04 00:00:00,737500.0,1709 6TH STREET NW,004801 1007,Ward 6
998,2015-03-25 00:00:00,NaN,517 RHODE ISLAND AVENUE NW,004801 1007,Ward 6
999,1999-05-04 00:00:00,114000.0,519 RHODE ISLAND AVENUE NW,004801 1007,Ward 6

### First Question

Which neighborhood has the most expensive property?

To accomplish this step, we eliminated nulls from PRICE and FULLADDRESS columns.
Then we sorted by PRICE and FULLADDRESS and found the max price:

2327 GOOD HOPE COURT SE          25100000.0

In [62]:
df_price=df[df['FULLADDRESS'].notnull() & df['PRICE'].notnull()]
sorted_by_price = df_price.groupby(['PRICE', 'FULLADDRESS'], sort=True) ['PRICE'].max()
sorted_by_price

PRICE       FULLADDRESS
1.0         4015 21ST STREET NE                     1.0
            4734 SOUTH CAPITOL TERRACE SW           1.0
10.0        1101 HOLBROOK TERRACE NE               10.0
            3014 Q STREET NW                       10.0
            320 34TH STREET NE                     10.0
            784 LAMONT STREET NW                   10.0
250.0       1202 LONGFELLOW STREET NW             250.0
            1249 W STREET SE                      250.0
            1326 IRVING STREET NW                 250.0
            1339 FAIRMONT STREET NW               250.0
            1416 OAK STREET NW                    250.0
            1431 CLIFTON STREET NW                250.0
            1645 GALES STREET NE                  250.0
            1941 1ST STREET NW                    250.0
            3013 SHERMAN AVENUE NW                250.0
            406 BURBANK STREET SE                 250.0
            5032 BENNING ROAD SE                  250.0
            514 K STREET NE                       250.0
            55 BRYANT STREET NW                   250.0
            821 12TH STREET NE                    250.0
500.0       2821 SHERMAN AVENUE NW                500.0
            325 T STREET NW                       500.0
            48 1/2 NEW YORK AVENUE NW             500.0
            70 U STREET NW                        500.0
936.0       615 P STREET NW                       936.0
1000.0      1920 15TH STREET SE                  1000.0
            3428 9TH STREET NE                   1000.0
            5512 HUNT PLACE NE                   1000.0
1377.0      1832 13TH STREET NW                  1377.0
2000.0      2902 P STREET SE                     2000.0
                                                ...
7550000.0   4012 47TH STREET NW               7550000.0
7576980.0   725 16TH STREET NE                7576980.0
7652000.0   3542 NEWARK STREET NW             7652000.0
7700000.0   2860 WOODLAND DRIVE NW            7700000.0
7785000.0   2933 BENTON PLACE NW              7785000.0
7950000.0   2861 WOODLAND DRIVE NW            7950000.0
8100000.0   2446 BELMONT ROAD NW              8100000.0
8375000.0   3108 WOODLAND DRIVE NW            8375000.0
8450000.0   1824 R STREET NW                  8450000.0
            2340 KALORAMA ROAD NW             8450000.0
8500000.0   1617 29TH STREET NW               8500000.0
8600000.0   3044 O STREET NW                  8600000.0
9000000.0   2430 WYOMING AVENUE NW            9000000.0
9100000.0   3134 ELLICOTT STREET NW           9100000.0
10400000.0  3055 WHITEHAVEN STREET NW        10400000.0
10750000.0  2850 WOODLAND DRIVE NW           10750000.0
11000000.0  10 N STREET SW                   11000000.0
            3500 ELY PLACE SE                11000000.0
            3504 ELY PLACE SE                11000000.0
11111111.0  3210 R STREET NW                 11111111.0
11984000.0  1714 MASSACHUSETTS AVENUE NW     11984000.0
12250000.0  2221 30TH STREET NW              12250000.0
14000000.0  2817 WOODLAND DRIVE NW           14000000.0
15000000.0  2501 30TH STREET NW              15000000.0
16100000.0  1645 31ST STREET NW              16100000.0
18000000.0  3107 FESSENDEN STREET NW         18000000.0
22000000.0  1623 28TH STREET NW              22000000.0
23960287.0  3124 Q STREET NW                 23960287.0
25000000.0  4242 7TH STREET SE               25000000.0
25100000.0  2327 GOOD HOPE COURT SE          25100000.0
Name: PRICE, Length: 57552, dtype: float64

### Second Question
When houses sold at the highest price?

To accomplish this step, we eliminated nulls from PRICE, SALEDATE, and FULLADDRESS columns.
Then we sorted by PRICE and SALEDATE and found the max price:

2018-02-15 00:00:00    25100000.0

In [57]:
df_date=df[df['FULLADDRESS'].notnull() & df['PRICE'].notnull() & df['SALEDATE'].notnull()]
sorted_by_date = df_price.groupby(['PRICE','SALEDATE'], sort=True) ['PRICE'].max()
sorted_by_date

PRICE       SALEDATE
1.0         2000-02-04 00:00:00           1.0
            2000-11-20 00:00:00           1.0
10.0        1998-09-21 00:00:00          10.0
            2009-02-13 00:00:00          10.0
            2017-11-16 00:00:00          10.0
            2018-05-15 00:00:00          10.0
250.0       1997-02-19 00:00:00         250.0
            1998-07-09 00:00:00         250.0
            1998-10-01 00:00:00         250.0
            1998-10-14 00:00:00         250.0
            1998-10-20 00:00:00         250.0
            1998-10-30 00:00:00         250.0
            1999-10-20 00:00:00         250.0
            1999-10-26 00:00:00         250.0
            1999-10-29 00:00:00         250.0
            1999-11-08 00:00:00         250.0
            1999-12-09 00:00:00         250.0
500.0       1998-10-13 00:00:00         500.0
            1999-10-19 00:00:00         500.0
            1999-10-20 00:00:00         500.0
            1999-10-21 00:00:00         500.0
936.0       1996-11-21 00:00:00         936.0
1000.0      1994-02-08 00:00:00        1000.0
            1999-10-20 00:00:00        1000.0
            2010-12-28 00:00:00        1000.0
1377.0      2000-02-08 00:00:00        1377.0
2000.0      2012-06-15 00:00:00        2000.0
3000.0      1993-08-09 00:00:00        3000.0
3997.0      2002-06-14 00:00:00        3997.0
4101.0      2000-07-24 00:00:00        4101.0
                                      ...
7550000.0   2013-01-25 00:00:00     7550000.0
            2013-10-23 00:00:00     7550000.0
7576980.0   2018-02-09 00:00:00     7576980.0
7652000.0   2009-12-16 00:00:00     7652000.0
7700000.0   2011-12-27 00:00:00     7700000.0
7785000.0   2017-05-24 00:00:00     7785000.0
7950000.0   2013-09-24 00:00:00     7950000.0
8100000.0   2017-05-31 00:00:00     8100000.0
8375000.0   2007-08-10 00:00:00     8375000.0
8450000.0   2010-06-18 00:00:00     8450000.0
            2014-02-14 00:00:00     8450000.0
8500000.0   2005-04-05 00:00:00     8500000.0
8600000.0   2013-03-28 00:00:00     8600000.0
9000000.0   2018-02-28 00:00:00     9000000.0
9100000.0   2016-05-20 00:00:00     9100000.0
10400000.0  2016-08-09 00:00:00    10400000.0
10750000.0  2017-01-19 00:00:00    10750000.0
11000000.0  2015-08-24 00:00:00    11000000.0
            2017-03-20 00:00:00    11000000.0
11111111.0  2010-12-09 00:00:00    11111111.0
11984000.0  2009-11-30 00:00:00    11984000.0
12250000.0  2015-10-15 00:00:00    12250000.0
14000000.0  2017-07-20 00:00:00    14000000.0
15000000.0  2006-05-04 00:00:00    15000000.0
16100000.0  2014-04-18 00:00:00    16100000.0
18000000.0  2015-12-30 00:00:00    18000000.0
22000000.0  2011-07-25 00:00:00    22000000.0
23960287.0  2007-05-02 00:00:00    23960287.0
25000000.0  2018-04-13 00:00:00    25000000.0
25100000.0  2018-02-15 00:00:00    25100000.0
Name: PRICE, Length: 56602, dtype: float64

### Third Question
What are the average prices per WARD in Washington DC?

For our dataset, we grouped by WARD and PRICE and then calculated the mean for each ward.

In [75]:
df.groupby('WARD')['PRICE'].mean()

WARD
Ward 1    5.738363e+05
Ward 2    1.098570e+06
Ward 3    3.077716e+06
Ward 4    4.899224e+05
Ward 5    3.952432e+05
Ward 6    5.268684e+05
Ward 7    2.339222e+05
Ward 8    2.715224e+05
Name: PRICE, dtype: float64